{% extends "base.html" %} {% load i18n %} {% block content %} {% if validlink %}
<p>{% trans "Enter new password and repeat the password." %}</p>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.new_password1.errors }}
                <label for="id_new_password1">{% trans "New password:" %}</label></td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password2.errors }}
                <label for="id_new_password2">{% trans "Repeat password:" %}</label></td>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="{% trans 'Change password' %}" /></td>
        </tr>
    </table>
</form>
{% else %}
<h1>{% trans "Cannot change password" %}</h1>
<p>{% trans "Link for password change expired. Please, initiate password change again." %}</p>
{% endif %} {% endblock %}