{% extends "base.html" %} {% load i18n %} {% block content %}
<div class="container car">
    <h4>{{ car.make }} {{ car.model }}</h4>
    </br>
    <img src="{{ car.car_photo.url }}" style="margin-bottom: 20px;">
    <h5>{% blocktrans %}Information about car {{ car.make }} {{ car.model }}:{% endblocktrans %}</h5>
    {% for car_information in car.cars.all %}
    <li>{% trans "Client:" %} {{ car_information.client }}</li>
    <li>{% trans "Plate number:" %} {{ car_information.license_plate }}</li>
    <li>{% trans "Car VIN number:" %} {{ car_information.vin_number }}</li>
    <h6>{% trans "Description:" %}</h6>
    <p>{{ car_information.description | safe }}</p>
    {% endfor %}
</div>
{% endblock %}