{% extends "base.html" %} {% load i18n %} {% block content %}
<h1>{% trans "Auto service" %}</h1>
<p>{% trans "Welcome back to the auto service!" %}</p>
<p>{% trans "Our auto service stats:" %}</p>
<ul>
    <li><strong>{% trans "Available services amount:" %}</strong> {{ num_services }}</li>
    <li><strong>{% trans "Finished orders amount:" %}</strong> {{ num_completed_orders }}</li>
    <li><strong>{% trans "Cars amount:" %}</strong> {{ num_cars }}</li>
</ul>
<p>{% blocktrans %}You visited our page {{ num_visits }} times.{% endblocktrans %}</p>
{% endblock %}